/* content.css | Started 16 Mar 2020 | Duncan Rae */

@media (min-width: 1000px) {
  .content-body-text{
    width: 60%;
  }
}

@media (min-width: 600px) {
  .img-inpost{
    width: 100%;
  }
}

.img-bg {
  max-width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-orientation: from-image;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.img-inpost {
  width: 60%;
  height: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-orientation: from-image;
}

.content-box{
margin: 1rem;
padding: 1rem;
height: auto;
text-decoration: none;
}

.content-body-text{
  line-height: 1.5;
  width: 100%;
}

.content-body-img{

}

.c-header{
  background-color: #212121;
  max-height: 100px;
}
