/* GOOGLE DEVS FLEX EXAMPLE - mostlyfluid.css */

body {
  background-color: #212121;
}

.grid-shell{
  display: flex;
  flex-flow: nowrap;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 1000px) {
  .grid-shell {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100vw;
}

.c0, .c1, .c2, .c3, .c4, .c5, .c-100p, .c-60p, .c-50p, .c-40p, .c-34p, .c-33p {
  width: 100%;
  line-height: 0.9;
  /* background-color: #212121; */
}

@media (min-width: 600px) {
  .c1, .c2, .c3, .c4, .c5, .c-60p, .c-50p, .c-40p, .c-33p, .c-34p,  {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .c0, .c-100p{
    width: 100%;
  }
  .c1, .c-60p {
    width: 60%;
  }
  .c-50p {
    width: 50%;
  }
  .c2, .c-40p {
    width: 40%;
  }
  /* Using 33.33%, doesn't always work right due to rounding */
  .c3, .c4, .c-33p {
    width: 33%;
  }
  .c5, .c-34p {
    width: 34%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-right{
    width: 100px;
    min-width: 100px;
  }
}

.c0{
  /* background-color: #4d8eff; */
  /* background-color: #2c3e50; */
  background-color: #111111;
}
.c1{
  /* background-color: #2143ed; */
  background-color: #273746;
}
.c2{
  /* background-color: #1368e0; */
  background-color: #212f3d;
}
.c3{
  /* background-color: #0e2ecc; */
  background-color: #1c2833;
}
.c4{
  /* background-color: #001ba3; */
  background-color: #17202a;
}
.c5{
  /* background-color: #2143ed; */
  background-color: #14181c;
}



/* GOOGLE DEVS FLEX EXAMPLE */
