/******************************/
/*                            */
/*                            */
/* MASTER CSS | 17 MARCH 2020 */
/*                            */
/*                            */
/******************************/

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body {
  font-family: 'Inter', sans-serif;
  color: white;
}

h1 {
  text-shadow: 2px 2px 3px rgba(0,0,0,.25);
}

a, a:hover, a:active, a:visited {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  text-emphasis-color: white;
}

mark{
  background-color: white;
  color: black;
}

mark:hover{
  background-color: blue;
  color: white;
}

.mdi-icons {
  font-size: 1.5rem;
}

.sidebar{
  width: 100px;
  max-width: 100px;
  height: 100vh;
  background-color: #212121;
  float: left;
  padding-top: 1rem;
  position: fixed;
}


.sidebar-right{
  height: 100vh;
  background-color: #212121;
}

.sidebar-left{
  height: 100vh;
  background-color: #212121;
  width: 100px;
  min-width: 100px;
}

.sidebar-link {
  height: 2.5rem;
  width: auto;
  text-align: center;
  padding-top: .8rem;
  padding-bottom: .8rem;
  margin-left: 25%;
  margin-right: 25%;
  color: #ffffff;
}

.sidebar-link:hover {
  color: #e0e0e0;
}

.sidebar-link-text {
  position: relative;
  bottom: .25rem;
  font-size: .9rem;
  font-weight: 600;
}
