<!-- about.html -->

  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">

      <a class="c-50p img-bg" style="background-image: url('./html/about/img/me.png');">
        <div class="content-box"></div>
      </a>

      <a class="c-50p c-header dynamic" href="./html/posts/posts.html">
        <div class="content-box">
          <img></img>
          <h1>Duncan Rae</h1><br><p style="font-weight:600;font-size:10pt;">Designer and Innovator</p>

          <br><br>
          <p class="content-body-text">
            <!-- INSERT TEXT BEGIN -->
          Duncan Rae is a product, branding, and UI/UX designer. He's currently working on something, and will get to finishing this description in the near future. (probably)
          <br><br>
          <p><span class="mdi mdi-phone mdi-icons"/>&nbsp; +1 (613) 501-4132</p>
          <br>
          <p><span class="mdi mdi-email-outline mdi-icons"/>&nbsp; drae@dunrae.com</p>
          <br>
          <p><span class="mdi mdi-map-marker mdi-icons"/>&nbsp; Ottawa, Canada</p>
          <br>
          </p>
        </div>
      </a>

    </div>
    <div class="sidebar-right"></div>
  </div>

<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
