<!-- /int/ProductDesign/pd.html -->

  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">
<!-- CONTENT BOXES BEGIN -->

      <a class="c0 c-header dynamic" href="./html/int/interests.html" style="background-image: url('');">
        <div class="content-box">
          <h1>Photography</h1><br><p style="font-weight:900;font-size:10pt;">All Posts</p>
        </div>
      </a>

      <a class="c-60p img-bg dynamic" href="./html/int/Photography/BayviewDrop/bayviewdrop.html" style="background-image: url('./html/int/Photography/BayviewDrop/img/bayview-drop.jpg');">
        <div class="content-box">
          <h1>Bayview Drop</h1><br>
        </div>
      </a>

      <a class="c-40p img-bg dynamic" href="./html/int/Photography/PimisiTwist/pimisitwist.html" style="background-image: url('./html/int/Photography/PimisiTwist/img/pimisi-twist.jpg');">
        <div class="content-box">
          <h1>Pimisi Twist</h1><br>
        </div>
      </a>

      <a class="c0 img-bg dynamic" href="./html/int/Photography/ShawEgg/shawegg.html" style="background-image: url('./html/int/Photography/ShawEgg/img/shaw-egg-jagged.jpg');">
        <div class="content-box">
          <h1>Shaw Egg</h1><br>
        </div>
      </a>

<!-- CONTENT BOXES END -->
    </div>
    <div class="sidebar-right"></div>
  </div>


<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
