<!-- posts.html -->

  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">

      <a class="c-100p c-header dynamic" href="./html/posts/posts.html">
        <div class="content-box">
          <h1>Most Recent Posts</h1><br><p style="font-weight:900;font-size:10pt;">Listed in Chronological Order</p>
        </div>
      </a>

      <a class="c-33p img-bg dynamic" href="./html/int/GraphicDesign/FlattenCurve/flattencurve.html" style="background-image: url('./html/int/GraphicDesign/FlattenCurve/img/FTC-blank.png');">
        <div class="content-box">
          <h1>Flatten the Curve</h1><br>
        </div>
      </a>

      <a class="c-33p img-bg" href="https://thingiverse.com/thing/000000" style="background-image: url('./html/int/ProductDesign/hangbox/img/ImgCard-ProDes-HangBox.png');">
        <div class="content-box">
          <h1>Hanging Storage Boxes</h1><br>
        </div>
      </a>

      <a class="c-34p img-bg dynamic" href="./html/int/ProductDesign/neidenmount/neidenmount.html" style="background-image: url('./html/int/ProductDesign/neidenmount/img/ImgCard-ProDes-TradfriNeiden.png');">
        <div class="content-box">
          <h1>Bedframe Accessories</h1><br>
        </div>
      </a>

      <a class="c-33p img-bg dynamic" href="./html/int/Photography/BayviewDrop/bayviewdrop.html" style="background-image: url('./html/int/Photography/BayviewDrop/img/bayview-drop.jpg');">
        <div class="content-box">
          <h1>Bayview Drop</h1><br>
        </div>
      </a>

      <a class="c-33p img-bg dynamic" href="./html/int/Photography/PimisiTwist/pimisitwist.html" style="background-image: url('./html/int/Photography/PimisiTwist/img/pimisi-twist.jpg');">
        <div class="content-box">
          <h1>Pimisi Twist</h1><br>
        </div>
      </a>

      <a class="c-34p img-bg dynamic" href="./html/int/Photography/ShawEgg/shawegg.html" style="background-image: url('./html/int/Photography/ShawEgg/img/shaw-egg-jagged.jpg');">
        <div class="content-box">
          <h1>Shaw Egg</h1><br>
        </div>
      </a>

    </div>

    <div class="sidebar-right"></div>
  </div>


<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
