<!-- POST TEMPLATE
AFTER PARAGRAPH, ADD: <br><br>
ADD IMAGE?: <div class="img-inpost" style="background-image: url(./html/int/link-to-image.png)"></div>
ADD EXTERNAL LINK?: <a href="https://example.com/"><mark>add link text here</mark></a>
ADD INTERNAL (DYNAMIC) LINK?: <a class="dynamic" href="./html/example.html"><mark>add link text here</mark></a>

-->

<body>
  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">

      <div class="c0">
        <div class="content-box">
          <!-- POST: FEATURED, TITLE, SUBTITLE BEGIN -->
          <h1>Shaw Egg</h1><br><p>Taken November 2019</p>
          <!-- POST: FEATURED, TITLE, SUBTITLE END -->
          <br><br>
          <p class="content-body-text">
            <!-- INSERT TEXT BEGIN -->
          </p>

          <div class="img-inpost" style="background-image: url('./html/int/Photography/ShawEgg/img/shaw-egg-jagged.jpg')"></div>

          <!-- INSERT TEXT END -->
        </div>
      </div>

    </div>
    <div class="sidebar-right"></div>

<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
