<!-- POST TEMPLATE
AFTER PARAGRAPH, ADD: <br><br>
ADD IMAGE?: <div class="img-inpost" style="background-image: url(./html/int/link-to-image.png)"></div>
ADD EXTERNAL LINK?: <a href="https://example.com/"><mark>add link text here</mark></a>
ADD INTERNAL (DYNAMIC) LINK?: <a class="dynamic" href="./html/example.html"><mark>add link text here</mark></a>

-->

<body>
  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">

      <div class="c0">
        <div class="content-box">
          <!-- POST: FEATURED, TITLE, SUBTITLE BEGIN -->
          <h1>BuckIoT</h1><br><p>Simplifying converting Power-Over-Ethernet into an energy source for DIY open source IoT devices.</p>
          <!-- POST: FEATURED, TITLE, SUBTITLE END -->
          <br><br>
          <p class="content-body-text"></p>
            <!-- INSERT TEXT BEGIN -->

          <div class="img-inpost" style="background-image: url('./html/int/Electronics/BuckIOT/img/buck-proto-01.png')"></div>

          <br><br>
          <p>
          </p>
          <!-- INSERT TEXT END -->
        </div>
      </div>

    </div>
    <div class="sidebar-right"></div>

<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
