<!-- POST TEMPLATE
AFTER PARAGRAPH, ADD: <br><br>
ADD IMAGE?: <div class="img-inpost" style="background-image: url(./html/int/link-to-image.png)"></div>
ADD EXTERNAL LINK?: <a href="https://example.com/"><mark>add link text here</mark></a>
ADD INTERNAL (DYNAMIC) LINK?: <a class="dynamic" href="./html/example.html"><mark>add link text here</mark></a>

-->

<body>
  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">

      <div class="c0">
        <div class="content-box">
          <!-- POST: FEATURED, TITLE, SUBTITLE BEGIN -->
          <p style="font-weight:900;font-size:10pt;">FEATURED POST</p><br><h1>Brasilia Pull</h1><br><p>Mixing a mid-century classic with modern production methods.</p>
          <!-- POST: FEATURED, TITLE, SUBTITLE END -->
          <br><br>
          <p class="content-body-text">
            <!-- INSERT TEXT BEGIN -->
            The brasilia pull is a classic drawer pull popularized in Brasil during the middle of the 20th century. It’s design has become iconic, presenting itself in countless wardrobes across the globe.
  <br><br>
            However, finding this pull in real life today can prove difficult. It’s rarity is what inspired me to completely redesign this pull in modern CAD software, using only reference imagery for scaling. The intention for doing this is for the ability for it to be widely adopted using local fabrication methods.
          </p>
  <br><br>
          <!-- INSERT IMAGE BEGIN -->
          <div class="img-inpost dynamic" style="background-image: url(./html/int/ProductDesign/brasiliapull/img/brasiliapull-render002.png)"></div>
          <!-- INSERT IMAGE END -->
  <br><br>
          <p class="content-body-text">
            I designed this pull be able to be easily 3D printed, so that anyone around the globe can have one -- or multiple to call their own. It is mounted using standard M4 screws, and can be printed in a variety of materials. Below is a high quality render of it in the appearance of its original material, polished brass.
  <br><br>
            You can find the project files on my gitlab profile <a href="https://gitlab.com/dunx"><mark>here</mark></a>.
          </p>
          <!-- INSERT TEXT END -->
        </div>
      </div>

    </div>
    <div class="sidebar-right"></div>

<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
