<!-- /int/ProductDesign/pd.html -->

  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">
<!-- CONTENT BOXES BEGIN -->

      <a class="c0 c-header dynamic" href="./html/int/interests.html" style="background-image: url('');">
        <div class="content-box">
          <h1>Graphic Design</h1><br><p style="font-weight:900;font-size:10pt;">All Posts</p>
        </div>
      </a>

      <a class="c-100p img-bg dynamic" href="./html/int/GraphicDesign/FlattenCurve/flattencurve.html" style="background-image: url('./html/int/GraphicDesign/FlattenCurve/img/FTC-blank.png');">
        <div class="content-box">
          <h1>Flatten the Curve</h1><br><p>A simple series of posters reminding people to stay indoors during the COVID-19 Pandemic.</p>
        </div>
      </a>

<!-- CONTENT BOXES END -->
    </div>
    <div class="sidebar-right"></div>
  </div>


<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
