<!-- /int/ProductDesign/pd.html -->

  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">
<!-- CONTENT BOXES BEGIN -->

      <a class="c0 c-header dynamic" href="./html/int/interests.html" style="background-image: url('');">
        <div class="content-box">
          <h1>Electronics</h1><br><p style="font-weight:900;font-size:10pt;">All Posts</p>
        </div>
      </a>

      <a class="c-50p img-bg dynamic" href="./html/int/Electronics/BuckIOT/buckiot.html" style="background-image: url('./html/int/Electronics/BuckIOT/img/buck-proto-01.png');">
        <div class="content-box">
          <p style="font-weight:700;font-size:10pt;">STATUS: W.I.P.</p><br><h1>Buck IoT</h1><br>
        </div>
      </a>

      <a class="c-50p img-bg dynamic" href="./html/int/Electronics/RaspotifyEnclosure/raspotify.html" style="background-image: url('./html/int/Electronics/RaspotifyEnclosure/img/raspotify-proto.jpg');">
        <div class="content-box">
          <p style="font-weight:700;font-size:10pt;">STATUS: COMPLETE</p><br><h1>Raspotify Enclosure</h1><br>
        </div>
      </a>

<!-- CONTENT BOXES END -->
    </div>
    <div class="sidebar-right"></div>
  </div>


<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
