<!-- interests.html -->

  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">

      <a class="c-100p c-header dynamic" href="./html/posts/posts.html">
        <div class="content-box">
          <h1>All Interests</h1><br><p style="font-weight:700;font-size:10pt;">Viewing 7 Categories</p>
        </div>
      </a>

      <a class="c-100p img-bg dynamic" href="./html/int/ProductDesign/pd.html" style="background-image: url('./html/int/ProductDesign/brasiliapull/img/brasiliapull-render001.png');">
        <div class="content-box">
          <h1>Product Design</h1><br><p style="font-weight:700;font-size:10pt;">View all 5 Posts</p>
        </div>
      </a>

      <a class="c-33p img-bg dynamic" href="./html/int/GraphicDesign/gd.html" style="background-image: url('./html/int/GraphicDesign/FlattenCurve/img/FTC-Blank.png');">
        <div class="content-box">
          <h1>Graphic Design</h1><br><p style="font-weight:700;font-size:10pt;">View 1 Post</p>
        </div>
      </a>

      <a class="c-33p img-bg dynamic" href="./html/int/Photography/ph.html" style="background-image: url('./html/int/Photography/BayviewDrop/img/bayview-drop.jpg');">
        <div class="content-box">
          <h1>Photography</h1><br><p style="font-weight:700;font-size:10pt;">View all 3 Posts</p>
        </div>
      </a>

      <a class="c-34p img-bg dynamic" href="./html/int/Electronics/el.html" style="background-image: url('./html/int/Electronics/BuckIOT/img/buck-proto-01.png');">
        <div class="content-box">
          <h1>Electronics</h1><br><p style="font-weight:700;font-size:10pt;">View all 2 Posts</p>
        </div>
      </a>

    </div>

    <div class="sidebar-right"></div>
  </div>

<div class="grid-shell">
  <div class="sidebar-left"></div>
    <div class="container">

      <a class="c-50p img-bg dynamic" href="./html/int/Branding/br.html" style="background-image: url('./html/int/Branding/Flyingcloud/img/Flyingcloud-Logo-crop.png');">
        <div class="content-box">
          <h1>Branding Design</h1><br><p style="font-weight:700;font-size:10pt;">No posts to date</p>
        </div>
      </a>

      <a class="c-50p img-bg dynamic" href="./html/int/UIUXDesign/uiux.html" style="background-image: url('./html/int/UIUXDesign/img/icon-design-01');">
        <div class="content-box">
          <h1>UI & UX Design</h1><br><p style="font-weight:700;font-size:10pt;">No posts to date</p>
        </div>
      </a>

      <a class="c-100p img-bg dynamic" href="./html/int/Other/other.html" style="background-image: url('');">
        <div class="content-box">
          <h1>Other</h1><br><p style="font-weight:700;font-size:10pt;">No posts to date</p>
        </div>
      </a>

    </div>
  <div class="sidebar-right"></div>
</div>



<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
