<!-- POST TEMPLATE
AFTER PARAGRAPH, ADD: <br><br>
ADD IMAGE?: <div class="img-inpost" style="background-image: url(./html/int/link-to-image.png)"></div>
ADD EXTERNAL LINK?: <a href="https://example.com/"><mark>add link text here</mark></a>
ADD INTERNAL (DYNAMIC) LINK?: <a class="dynamic" href="./html/example.html"><mark>add link text here</mark></a>

-->

<body>
  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">

      <div class="c0">
        <div class="content-box">
          <!-- POST: FEATURED, TITLE, SUBTITLE BEGIN -->
          <h1>Mug for PRODUKT</h1><br><p>Displaying a simple frother in a new way using 3D Printing.</p>
          <!-- POST: FEATURED, TITLE, SUBTITLE END -->
          <br><br>
          <p class="content-body-text"></p>
            <!-- INSERT TEXT BEGIN -->

          <div class="img-inpost" style="background-image: url(./html/int/ProductDesign/produktmug/img/produktmug-01.png)"></div>

          <br><br>
          <p>
          </p>
          <!-- INSERT TEXT END -->
        </div>
      </div>

    </div>
    <div class="sidebar-right"></div>

<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
