<!-- /int/ProductDesign/pd.html -->

  <div class="grid-shell">
    <div class="sidebar-left"></div>
    <div class="container">
<!-- CONTENT BOXES BEGIN -->

      <a class="c0 c-header dynamic" href="./html/int/interests.html" style="background-image: url('');">
        <div class="content-box">
          <h1>Product Design</h1><br><p style="font-weight:900;font-size:10pt;">All Posts</p>
        </div>
      </a>

      <a class="c-60p img-bg dynamic" href="./html/int/ProductDesign/brasiliapull/brasiliapull.html" style="background-image: url('./html/int/ProductDesign/brasiliapull/img/brasiliapull-render001.png');">
        <div class="content-box">
          <p style="font-weight:700;font-size:10pt;">FEATURED POST</p><br><h1>Brasilia Pull</h1><br>
        </div>
      </a>

      <a class="c-40p img-bg dynamic" href="./html/int/ProductDesign/produktmug/produktmug.html" style="background-image: url('./html/int/ProductDesign/produktmug/img/produktmug-01.png');">
        <div class="content-box">
          <h1>Mug for PRODUKT</h1><br>
        </div>
      </a>

      <a class="c-33p img-bg dynamic" href="./html/int/ProductDesign/mcmdesk.mcmdesk.html" style="background-image: url('./html/int/ProductDesign/mcmdesk/img/ImgCard-ProDes-MCMDesk.png');">
        <div class="content-box">
          <h1>MCM Desk</h1><br>
        </div>
      </a>

      <a class="c-33p img-bg dynamic" href="./html/int/ProductDesign/neidenmount/neidenmount.html" style="background-image: url('./html/int/ProductDesign/neidenmount/img/ImgCard-ProDes-TradfriNeiden.png');">
        <div class="content-box">
          <h1>Bedframe Accessories</h1><br>
        </div>
      </a>

      <!-- LINK TO THINGIVERSE POST -->
      <a class="c-34p img-bg" href="https://thingiverse.com/thing/000000" style="background-image: url('./html/int/ProductDesign/hangbox/img/ImgCard-ProDes-HangBox.png');">
        <div class="content-box">
          <h1>Hanging Storage Boxes</h1><br>
        </div>
      </a>

<!-- CONTENT BOXES END -->
    </div>
    <div class="sidebar-right"></div>
  </div>


<script src="js/loader.js"></script> <!-- MUST BE ON ALL PAGES WITH DYNAMIC LINKS -->
</body>
